################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MiniGameJam96Fate/.vs/MiniGameJam96Fate/v16/.suo
/MiniGameJam96Fate/.vs/MiniGameJam96Fate/v16
/MiniGameJam96Fate/Library
/MiniGameJam96Fate/Logs
/MiniGameJam96Fate/obj/Debug
/MiniGameJam96Fate/Temp
/MiniGameJam96Fate/.vsconfig
/MiniGameJam96Fate/UserSettings
/MiniGameJam96Fate/Assembly-CSharp.csproj
/MiniGameJam96Fate/Assembly-CSharp.Player.csproj
/MiniGameJam96Fate/MiniGameJam96Fate.sln
